.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: left;
  margin-left: 10px;
  margin-bottom: 0px;
}
.input_box {
  position: relative;
  width: 450px;
  border-radius: 50px;
  padding: 20px 30px;
  transition: 0.2s;
  font-size: 18px;
}
