.component-setplayergame-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: anakotmai;
  font-size: 46px;
  font-weight: bold;
}
.component-setplayergame-front {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: start;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: anakotmai;
  font-size: 46px;
  font-weight: bold;
  background-color: #83769c;
  border-radius: 30px;
  color: white;
}

.boderuser {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #1d2b53;
  border-radius: 60px;
  width: 600px;
  height: 600px;
  font-size: 24px;
  font-family: anakotmai;
  text-align: center;
}

.textarea-styles {
  align-items: center;
  justify-content: center;
  color: black;
  width: 300px;
  height: 50px;
  font-size: 24px;
}
.buttonjoin {
  border-radius: 10px;
  border: 2px solid #1d2b53;
  font-size: 28px;
  background: green;
  width: 200px;
}
.buttonback {
  border-radius: 10px;
  border: 2px solid #1d2b53;
  font-size: 28px;
  background: gray;
  width: 200px;
}

#forbackstep {
  margin-top: 1%;
  margin-left: 38%;
}
#forsave {
  background-color: greenyellow;
}
