.Time {
  position: absolute;
  top: 55%;
  left: 37%;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
  background-color: #1d2e67;
  color: aliceblue;
  /* margin-left: 30%; */
  display: flex;
}
